%html
  %head
    %meta{'http-equiv'=>"Content-Type", 'content'=>"text/html; charset=utf-8"}
    %title 控制页面
    %script{src: 'jquery-2.1.4.min.js'}
    %script{src: 'app.js'}
    %script{src: 'functions.js'}
    %script{src: 'background.js'}
  %body